LANDSCAPE_LOCUST_HOST=https://landscape.example.com

LANDSCAPE_LOCUST_EMAIL=john@example.com
LANDSCAPE_LOCUST_PASSWORD=pwd

LANDSCAPE_LOCUST_USERS=1000
LANDSCAPE_LOCUST_SPAWN_RATE=50
LANDSCAPE_LOCUST_WORKERS=2

LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_HOST=your-db-host
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_NAME=landscape-standalone
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_USER=landscape
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_PASSWORD=landscape
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_PORT=5432
LANDSCAPE_LOCUST_EXCHANGE_SERVER_PORT=9999
