LANDSCAPE_HOST=https://landscape-haproxy

LOCUST_USERS=1000
LOCUST_SPAWN_RATE=50
LOCUST_WORKERS=2

LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_HOST=landscape-postgres
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_NAME=landscape-test-main
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_USER=landscape
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_PASSWORD=landscape
LANDSCAPE_LOCUST_EXCHANGE_SERVER_DB_PORT=5432
LANDSCAPE_LOCUST_EXCHANGE_SERVER_PORT=9999

LANDSCAPE_NETWORK=landscape-dev_landscape-net
